<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>GomePlus视频频道</title>
	<meta name="keywords" content="GomePlus视频频道" />
	<meta name="description" content="" />
	<meta name="format-detection" content="telephone=no">
	<meta name="x5-page-mode" content="no-title"/>
	<link rel="stylesheet" type="text/css" href="<%=cdnenv%>dist/css/error.css">
</head>
<body>
	<%- include('../../common/head.ejs')%>
	<!-- main -->
	<div class="wrap">
		<div class="error">
			<p>OPPS! 您访问的页面不存在</p>
			<a href="#">返回上一页</a>
		</div>
	</div>
	<!-- main -->
	<%- include('../../common/footer.ejs')%>
	<script src="<%=cdnenv%>dist/js/vendor.js"></script>
	<script src="<%=cdnenv%>dist/js/error.js"></script>
</body>
</html>